.float-left {
    float: left;
}

.danger {
    margin-top: 5px;
    color: red;
    font-size: 14px;
}

.float-right {
    float: right;
}

.set-menu-width {
    max-width: 240px;
    overflow: hidden;
    white-space: initial;
    text-overflow: ellipsis;
}
